@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}
ul,
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
body{
    background-color: #000;
    margin: 0;
    font-family: 'Sora', sans-serif;
}
.sec::before{

    position: absolute;
    left: 0;
    content: "";
    background-image: url("../public/images/overlay.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 189px;
    width: 132px;
    top: -39px;
}
.footer_row{
    border-bottom: 1px solid #4B4B4B;
}
.item-list{
    position: relative;
}
ul.item-menu{
    height: 0px;
    position: absolute;
    opacity: 0;
    transition: 0.4s;
   
}
.item-list:hover ul.item-menu{
   height: 100px;
    background-color: red;
    opacity: 1;
}