@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

body {
    background-color: #0D0D0D;
    margin: 0;
    font-family: 'Sora', sans-serif;
}

@layer components {
    .sec::before {

        position: absolute;
        left: 0;
        content: "";
        background-image: url("../public/images/overlay.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 189px;
        width: 132px;
        top: 1px;
    }

    .footer_row {
        border-bottom: 1px solid #4B4B4B;
    }

    .item-list {
        position: relative;
    }

    ul.item-menu {

        position: absolute;
        visibility: hidden;
        transition: 0.4s;
        background-color: #0068B6;
        opacity: 0;
        padding: 6px;
        left: 0;
        right: 0;
        z-index: 990;
    }

    .item-list:hover ul.item-menu {
        visibility: visible;
        opacity: 1;
        transform: translateY(7px);
    }

    .trail-btn {
        border: 1px solid #0068B6;
    }

    .trail-btn:hover {
        background-color: #0068B6;
    }

    .price_list {
        border-top: 1px solid #27272A;
    }

    .header_list {
        background-color: #0068B6 !important;
        color: #fff !important;
        padding: 10px 17px !important;
        border-radius: 4px;
    }

    ul.stock_list {
        padding: 14px 0 0 18px;
    }

    .team_container {
        max-width: 1203px;
        margin: 30px auto 0;
    }

    .hello-sec .trade:nth-child(3) {
        direction: rtl;
        text-align: left;
    }

    .client_img {
        width: 81%;
        margin-left: auto;
    }

    .side-padding {
        padding-right: 20px;
        padding-left: 20px;
    }

    .banner_img {
        transform: translateY(54px);
    }
    .quote_img img{
        filter: brightness(0.5);
    }
    .slide_row{
        margin: 0 auto;
        max-width: 1219px;
    }
    .slide-col1{
        width: 38vw;
    }
    .slide-col2{
        width: 41vw;
    }
    .quote_img{
        transform: translateY(-18px);
    }
    .testimonial_Sec{
        position: relative;
    }
    .slide_Bg{
        width: 100%;
        background-color: #0D0D0D;
        position: absolute;
        height: 58vh;
        margin-top: 84px;
    }
    .slide_arrows{
        position: relative;
        z-index: 9;
        bottom: 11vw;
        right: 0;
        left: -12vw;
        margin: 0 auto;
        text-align: center;
    }

    @media screen and (max-width:1258px){
        .slide_Bg{
            height: 62vh;
            margin-top: 73px;
        }  
        .slide-col1 {
            width: 50vw;
        }
        .slide_arrows {
            left: -4%;
        }
        .slide-col2 {
            width: 50vw;
        }
    }
    @media screen and (max-width:900px){
        .global_table{
            overflow-x: scroll ;
        }
    }
    @media screen and (max-width:800px){
        .banner_img {
            transform: translateY(5px);
        }
    }
    @media screen and (max-width:767px){
        .footer_row,
        .footer_bottom{
            flex-direction: column;
        }
        .bottom-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .header_list {
            width: fit-content;
        }
        .slide_row{
            flex-direction: column;
        }
        .quote_img{
            display: none;
        }
        .slide_Bg{
            display: none;
        }
        .slide-col1{
            width: 100vw;
        }
        .mobile_Slide{
            background-color: #0D0D0D !important;
        }
        .client_img {
            width: 135px;
            height: 136px;
            border-radius: 50%;
            margin: -31px auto 0;
        }
        .slide_arrows {
            left: 0%;
            bottom: -5vw;
        }
        ul.item-menu {
            visibility: visible;
            opacity: 1;
            transform: unset;
            position: unset;
            
        }
    
        .item-list:hover ul.item-menu {
            visibility: visible;
            opacity: 1;
            transform: unset;
        }
        .aa{
            height: 100% !important;
            transition: 0.4s;
        }
        .bb{
            height: 0px;
            
        }
        
    }

}